<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/stilAdmin.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Lekplatser admin</h1>
        </div>
    </div>
    <div class="container">
        <div class="body-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>